.footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: floralwhite;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    color: rgb(107, 1, 24);
    border-top: 2px solid gray;
    overflow-x: hidden;
}

.footerimage img{
    height: 100px;
}