.search_bar{
    display: flex;
}

.search_bar input{
    width: 300px;
    height: 40px;
    border: none;
    font-size: 20px;
    padding-left: 15px;
    color: black;
    outline: none;
}

.search_bar button{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*button:hover{
    cursor: pointer;
}*/

/*.bar button{
    height: 25px;
    width: 70px;
    font-size: 16px;
}*/

.search_container{
    background-color: #fff;
    max-height: 300px;
    width: 340px;
    overflow-y: scroll;
    padding: 20px;
    position: absolute;
    top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
}

.search_container .search_result{
    text-align: left;
    padding: 10px;
}